<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.mybatis.dao.ExpressMapper">
	<resultMap
		type="com.spring.mybatis.domain.ExpressCompany"
		id="ExpressCompanyMap"></resultMap>

	<sql id="basicSql">
		select * from pzx_express_company
	</sql>
	<select
		id="getExpressCompanies"
		resultMap="ExpressCompanyMap">
		<include refid="basicSql" />
	</select>

	<select id="getExpressCompanyByNo" parameterType="java.lang.String" resultType="ExpressCompany">
		<include refid="basicSql" /> where companyNo = #{companyNo}
	</select>
	
	<insert id="addCompany" parameterType="ExpressCompany" useGeneratedKeys="true" keyProperty="id">
		insert into pzx_express_company
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="company != null and company != ''">
					company,
				</if>
				<if test="companyNo != null and companyNo != ''">
					companyNo,
				</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="company != null and company != ''">
					#{company,jdbcType=VARCHAR},
				</if>
				<if test="companyNo != null and companyNo != ''">
					#{companyNo,jdbcType=VARCHAR},
				</if>
			</trim>
	</insert>
	
	<update id="updateCompany" parameterType="ExpressCompany">
		update pzx_express_company
			<set>
				<if test="company != null and company != ''">
					company = #{company,jdbcType=VARCHAR},
				</if>
				<if test="companyNo != null and companyNo != ''">
					companyNo = #{companyNo,jdbcType=VARCHAR},
				</if>
			</set>
		<where>
			<if test="id != null">
				id = #{id,jdbcType=BIGINT}
			</if>
			<if test="companyNo != null and companyNo != ''">
				and companyNo = #{companyNo,jdbcType=VARCHAR}
			</if>
		</where>
	</update>

</mapper>